.team-pading {
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
}
.team {
    font-size: 28px;
    line-height: 33px;
    color: var(--secondary--text--color);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;
}
.team-profession {
    padding: 30px 0px;
    background-color:var(--white--color) ;
}
.team-name {
    text-align: center;
    color: var(--secondary--text--color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    .team-item {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .team-item {
        flex-basis: calc(100% / 4 - 30px);
    }
    .team-pading {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .team-item {
        margin-top: 50px;
    }
}